@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: left;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] header{
	margin-bottom: 1em;
	text-align: left;
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-indent: 0;
	text-align: left;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-indent: 0;
	text-align: left;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 3em;
	margin-left: auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

table{
	width: 90%;
	border: 0;
	font-size: 80%;
	margin-left: auto;
	margin-right: auto;
}

td.left-align{
	text-align: left;
}

td.right-align{
	text-align: right;
}

td.center-align{
	text-align: center;
}

td.top-align{
	vertical-align: top;
}

td.bottom-align{
	vertical-align: bottom;
}

blockquote.tablenote{
	width: 90%;
	font-size: 80%;
	margin-left: auto;
	margin-right: auto;
}

blockquote.literary{
	text-align: center;
}

blockquote.notice{
	text-align: center;
	font-variant: small-caps;
}

#chapter-15 img{
	height: 1em;
	vertical-align: middle;
	margin-right: .5em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
