@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

header{
	text-align: center;
	margin-bottom: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote > header{
	text-align: center;
	font-variant: small-caps;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: left;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] header{
	margin-bottom: 1em;
	text-align: left;
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-indent: 0;
	text-align: left;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-indent: 0;
	text-align: left;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 3em;
	margin-left: auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

table{
	margin: 1em auto;
	font-variant-numeric: tabular-nums;
	border-collapse: collapse;
}

thead{
	text-align: right;
}

thead p{
	text-align: center;
	text-indent: 0;
}

table tr td{
	padding: .1em .5em;
	vertical-align: top;
}

table:first-of-type tr:nth-child(3),
.total,
.total td{
	border-top: 1px solid;
}

th{
	font-variant: small-caps;
	font-weight: normal;
}

.right-align{
	text-align: right;
}

#chapter-9 img{
	height: 1em;
	vertical-align: middle;
	margin-right: .5em;
}

#chapter-18 blockquote:first-of-type p + p{
	font-variant: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
