@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	margin-bottom: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

blockquote > header{
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-top: 5em;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: initial;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="z3998:letter"] footer blockquote,
[epub|type~="z3998:letter"] footer blockquote + p{
	text-align: initial;
}

[epub|type~="z3998:verse"] header{
	margin-bottom: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
}

thead{
	text-align: right;
}

thead p{
	text-align: center;
	text-indent: 0;
}

table tr td{
	padding: .1em .5em;
	vertical-align: top;
}

table:first-of-type tr:nth-child(3),
.total,
.total td{
	border-top: 1px solid;
}

table caption{
	font-variant: small-caps;
}

th{
	font-variant: small-caps;
	font-weight: normal;
}

#chapter-22 table:first-of-type tbody td:first-child,
#chapter-22 table:first-of-type tbody td:last-child,
#chapter-22 table ~ table tbody td + td{
	text-align: right;
}

#chapter-9 img{
	height: 1em;
	margin-right: .5em;
	vertical-align: middle;
}

#chapter-18 blockquote:first-of-type p + p{
	font-variant: normal;
}

#appendix-2 > p:nth-last-of-type(3){
	margin: 1em;
	text-align: center;
	text-indent: 0;
}

#chapter-40 blockquote[epub|type~="z3998:letter"] header + p + p{
	text-indent: 0;
}

.telegram{
	font-variant: all-small-caps;
}
